DATABASE_URL="postgresql://user:password@localhost:5432/unqplus"
DIRECT_URL="postgresql://user:password@localhost:5432/unqplus"

PORT=3100
TIMEZONE="Asia/Tashkent"

APP_URL="http://127.0.0.1:3100"
NEXTAUTH_URL="http://127.0.0.1:3100"
NEXT_PUBLIC_APP_URL="http://127.0.0.1:3100"

SESSION_SECRET="change-me-dev-secret"
NEXTAUTH_SECRET="change-me-dev-secret"

ADMIN_LOGIN="admin"
ADMIN_PASSWORD_HASH="$2b$10$nXEG5Nb9BeOLV1OkQPFqyOXI73zc/JFsd2wXmuU.5wlqjVwrrRPOu"