<option value="Ташкент">Ташкент</option>
<option value="Нукус">Нукус</option>
<option value="Андижан">Андижан</option>
<option value="Бухара">Бухара</option>
<option value="Фергана">Фергана</option>
<option value="Джизак">Джизак</option>
<option value="Наманган">Наманган</option>
<option value="Навои">Навои</option>
<option value="Карши">Карши</option>
<option value="Самарканд">Самарканд</option>
<option value="Гулистан">Гулистан</option>
<option value="Термез">Термез</option>
<option value="Ургенч">Ургенч</option>
<option value="Нурафшан">Нурафшан</option>